{% load static %}

<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

  <div class="profile">
    <img src="{% static 'img/natsu.jpg' %}" class="img-fluid rounded-circle">
    <h1 class="text-light"><a href="{% url 'home' %}">Sheraram Prajapat</a></h1>
    <div class="social-links mt-3 text-center">
      <a href="https://www.instagram.com/sheraramprajapat1998/" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="mailto:sheraramprajapat1998@gmail.com" class="gmail"><i class="icofont-envelope"></i></a>
      <a href="https://www.linkedin.com/in/natsu1998/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      <a href="https://github.com/SheraramPrajapat1998" class="github"><i class="bx bxl-github"></i></a>
    </div>
  </div>

  <nav class="nav-menu">
    <ul>
      <li class="active"><a href="{% url 'home' %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
      <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
      <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
      <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
      <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

    </ul>
  </nav><!-- .nav-menu -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header><!-- End Header -->